{:format :kotoba.cljk-origin/v1
 :renamed-on "2026-09-11"
 :decision "adr-2609111500-cljk-rename-all-clojure-source (com-junkawasaki/root 90-docs/adr; owner instruction 2026-09-11)"
 :rule "value = the extension the file had before the rename. A path ending in .clj.cljk or .cljs.cljk kept it in the name because both platform files existed (or the plain target was taken)."
 :origins
 {"run_tests.cljk" ".clj"
  "src/magatama/cells/shionome_core.cljk" ".cljc"
  "src/magatama/cells/shionome_flow_graph/cell.cljk" ".cljc"
  "src/magatama/cells/shionome_flow_graph/state_machine.cljk" ".cljc"
  "src/magatama/cells/shionome_ingest/cell.cljk" ".cljc"
  "src/magatama/cells/shionome_ingest/state_machine.cljk" ".cljc"
  "src/magatama/cells/shionome_regime_observer/cell.cljk" ".cljc"
  "src/magatama/cells/shionome_regime_observer/state_machine.cljk" ".cljc"
  "src/magatama/cells/shionome_rotation_weave/cell.cljk" ".cljc"
  "src/magatama/cells/shionome_rotation_weave/state_machine.cljk" ".cljc"
  "src/magatama/cells/shionome_social_post/cell.cljk" ".cljc"
  "src/magatama/cells/shionome_social_post/state_machine.cljk" ".cljc"
  "src/magatama/cells/suimin_disclaimer_gate/cell.cljk" ".cljc"
  "src/magatama/cells/suimin_disclaimer_gate/state_machine.cljk" ".cljc"
  "src/magatama/cells/suimin_evidence_grade/cell.cljk" ".cljc"
  "src/magatama/cells/suimin_evidence_grade/state_machine.cljk" ".cljc"
  "src/magatama/cells/suimin_referral_router/cell.cljk" ".cljc"
  "src/magatama/cells/suimin_referral_router/state_machine.cljk" ".cljc"
  "src/magatama/cells/suimin_source_ingest/cell.cljk" ".cljc"
  "src/magatama/cells/suimin_source_ingest/state_machine.cljk" ".cljc"
  "src/magatama/cells/suimin_treatment_synthesize/cell.cljk" ".cljc"
  "src/magatama/cells/suimin_treatment_synthesize/state_machine.cljk" ".cljc"
  "test/magatama/cells/test_cells.cljk" ".cljc"
  "test/magatama/repository_contract_test.cljk" ".clj"}}
